h1 {
  background-color: azure;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 2px;

}
@media(max-widht: 900px){
  .photo{
    width: 1000px;
  }
}
.photo {
  width: 80px;
  border-radius: 50px;
}
.bothon {
  background-color: rgb(82, 82, 211);
  border-radius: 10px;
  font-size: 20px;
  color: aliceblue;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
}
.bothon:hover {
background-color: rgb(108, 122, 243);
}
